<main class="form-signin mx-auto text-center w-75 mt-5">
  <form [formGroup]="budgetForm" (ngSubmit)="save()">
    <h1 class="h3 mb-5 fw-normal">Formulario para obtener presupuesto</h1>
    
    <div class="row g-3">
      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="name" class="form-label">Nombre completo</label>
          </div>
          <input formControlName="name" type="text" class="form-control" id="name" placeholder="Antonio">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="surname" class="form-label">Apellidos</label>
          </div>
          <input formControlName="surname" type="text" class="form-control" id="surname" placeholder="García Collado">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="phone" class="form-label">Teléfono</label>
          </div>
          <input formControlName="phone" type="tel" class="form-control" id="phone" placeholder="605874356">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="email" class="form-label">Dirección de correo electrónico</label>
          </div>
          <input formControlName="email" type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="address" class="form-label">Dirección</label>
          </div>
          <input formControlName="address" type="text" class="form-control" id="address" placeholder="Calle Peloponeso, 24">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="postCode" class="form-label">Código Postal</label>
          </div>
          <input formControlName="postCode" type="text" class="form-control" id="postCode" placeholder="28037">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="town" class="form-label">Ciudad</label>
          </div>
          <input formControlName="town" type="text" class="form-control" id="town" placeholder="Madrid">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="installationType" class="form-label">Selecciona un tipo de instalación</label>
          </div>
          <select formControlName="installationType" class="form-select" id="installationType">
            <option selected>Selecciona un tipo de instalación</option>
            <option value="1">Monofásica</option>
            <option value="2">Bifásica</option>
            <option value="3">Trifásica</option>
          </select>
        </div>
      </div>

      <div class="col-md-12">
        <div class="mb-3">
          <label for="descriptionAppliances" class="form-label">Qué electrodomésticos tienes, potencia si lo sabes y cuántas horas los usas</label>
          <textarea formControlName="descriptionAppliances" class="form-control" id="descriptionAppliances" rows="3"></textarea>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-purple btn-lg mt-3 mb-4" style="width: 400px;">Enviar ahora</button>
  </form>
</main>