<main class="form-signin mx-auto text-center w-75 mt-5">

  @if (showConfirmMessage) {
    <ngb-alert type="success" [dismissible]="false" class="text-center" style="min-height:100px">
     Se ha completado el formulario correctamente.
     <br>
     Realice el registro en la web con su correo electrónico y nos pondremos en contacto con usted lo antes posible.
    </ngb-alert>
    <button class="w-100 btn btn-purple btn-lg px-4" routerLink="/plans">Volver a planes</button>


} @else {
  <form [formGroup]="budgetForm" (ngSubmit)="save()">
    <h1 class="h3 mb-5 fw-normal">Formulario para obtener presupuesto</h1>
    
    <input type="hidden" formControlName="id">
    
    <div class="row g-3">
      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="name" class="form-label">Nombre completo</label>
            @if(budgetForm.controls.name.touched && budgetForm.controls.name.errors) {
            <div>
            @if (budgetForm.controls.name.errors['required']) {
            <small class="text-danger">Nombre es obligatorio.</small>
            
            }
          </div>
            } 

          </div>
          <input formControlName="name" type="text" class="form-control" id="name" placeholder="Nombre">  
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="surname" class="form-label">Apellidos</label>
            @if(budgetForm.controls.surname.touched && budgetForm.controls.surname.errors) {
              <div>
              @if (budgetForm.controls.surname.errors['required']) {
              <small class="text-danger">Apellido es obligatorio.</small>
              
              }
            </div>
              } 

          </div>
          <input formControlName="surname" type="text" class="form-control" id="surname" placeholder="Apellidos">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="phone" class="form-label">Teléfono</label>
            @if(budgetForm.controls.phone.touched && budgetForm.controls.phone.errors) {
              <div>
              @if (budgetForm.controls.phone.errors['required']) {
              <small class="text-danger">Teléfono es obligatorio.</small>
              
              }
            </div>
              } 
          </div>
          <input formControlName="phone" type="tel" class="form-control" id="phone" placeholder="Número de teléfono">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="email" class="form-label">Dirección de correo electrónico</label>
            @if(budgetForm.controls.email.touched && budgetForm.controls.email.errors) {
              <div>
              @if (budgetForm.controls.email.errors['required']) {
              <small class="text-danger">Dirección de correo electrónico es obligatorio.</small>
              
              }
            </div>
              } 
          </div>
          <input formControlName="email" type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="address" class="form-label">Dirección</label>
            @if(budgetForm.controls.address.touched && budgetForm.controls.address.errors) {
              <div>
              @if (budgetForm.controls.address.errors['required']) {
              <small class="text-danger">Dirección es obligatorio.</small>
              
              }
            </div>
              } 
          </div>
          <input formControlName="address" type="text" class="form-control" id="address" placeholder="Calle">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="postCode" class="form-label">Código Postal</label>
            @if(budgetForm.controls.postCode.touched && budgetForm.controls.postCode.errors) {
              <div>
              @if (budgetForm.controls.postCode.errors['required']) {
              <small class="text-danger">Código Postal es obligatorio.</small>
              
              }
            </div>
              } 
          </div>
          <input formControlName="postCode" type="text" class="form-control" id="postCode" placeholder="Código postal">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="town" class="form-label">Ciudad</label>
            @if(budgetForm.controls.town.touched && budgetForm.controls.town.errors) {
              <div>
              @if (budgetForm.controls.town.errors['required']) {
              <small class="text-danger">Ciudad es obligatorio.</small>
              
              }
            </div>
              } 
          </div>
          <input formControlName="town" type="text" class="form-control" id="town" placeholder="Ciudad">
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-3">
          <div style="text-align: left;">
            <label for="installation" class="form-label">Selecciona un tipo de instalación</label>
            @if(budgetForm.controls.installation.touched && budgetForm.controls.installation.errors) {
              <div>
              @if (budgetForm.controls.installation.errors['required']) {
              <small class="text-danger">Selecciona un tipo de instalación.</small>
              
              }
            </div>
              } 
          </div>
          <select formControlName="installation" class="form-select" id="installation" >
            @if(budgetForm.controls.installation.touched && budgetForm.controls.installation.errors) {
              <div>
              @if (budgetForm.controls.installation.errors['required']) {
              <small class="text-danger">Selecciona un tipo de instalación, es obigatorio.</small>
              
              }
            </div>
              } 
            <option>Selecciona un tipo de instalación</option>
            <option value="Monofásica">Monofásica</option>
            <option value="Bifásica">Bifásica</option>
            <option value="Trifásica">Trifásica</option>
          </select>
        </div>
      </div>

      <div class="col-md-12">
        <div class="mb-3" style="text-align: left;">
          <label for="descriptionAppliances" class="form-label">Qué electrodomésticos tienes, potencia si lo sabes y cuántas horas los usas</label>
          @if(budgetForm.controls.descriptionAppliances.touched && budgetForm.controls.descriptionAppliances.errors) {
            <div>
            @if (budgetForm.controls.descriptionAppliances.errors['required']) {
            <small class="text-danger">Descripción es obligatorio.</small>
            
            }
          </div>
            } 
          <textarea formControlName="descriptionAppliances" class="form-control" id="descriptionAppliances" rows="3" placeholder="Detalla los electrodomésticos que tengas y potencia"></textarea>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-start">
      <div>
        <div class="form-check text-start my-3">
          <input class="form-check-input custom-checkbox" type="checkbox" value="remember-me" id="acceptTerms">
          <label class="form-check-label" for="acceptTerms">
            He leído y acepto el 
            <a class="text-black" routerLink="/">Aviso Legal</a> y la <a class="text-black" routerLink="/">Política de Privacidad</a>
          </label>
        </div>
    
        <div class="form-check text-start my-3">
          <input class="form-check-input custom-checkbox" type="checkbox" value="remember-me" id="receiveNotifications">
          <label class="form-check-label" for="receiveNotifications">
            Acepto recibir notificaciones.
          </label>
        </div>
      </div>
    
     
     
          <button type="submit" class="btn btn-purple btn-lg mt-3 mb-4" style="width: 250px;" [disabled]="budgetForm.invalid">Enviar ahora</button>
         
        
   
    </div>
    @if (budgetForm.invalid) {
      <small class="text-danger">Debes completar de forma correcta todos los campos para poder enviar.</small>
      }

  </form>
}

</main>