<div class="container mt-5">

    <div class="row">


        <div class="row">
            <div class="col-4 text-center">

                <h1>Factura</h1>

                @if(invoice){
                <div>
                    <a class="btn btn-purple me-2 btn-sm" 
                    href="/assets/pdf/factura.pdf" target="_blank">Descargar Factura</a>
                </div>
                }

                <div class="contenedor">
                    <img class="img-fluid" src="/assets/img/icon.png">
            
                  </div>

            </div>
            <div class="col-4">

                @if(invoice) {

                <div class="container px-4 py-5" id="icon-grid">
                    <h2 class="pb-2 border-bottom">Factura {{invoice.id}}</h2>

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
                        <div class="col d-flex align-items-start">
                            <div>
                                <i class="bi bi-file-text"></i>
                                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Contrato</h3>
                                <p>{{invoice.numberCode}}</p>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                         
                            <div>
                                <i class="bi bi-lightbulb"></i>
                                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Kw</h3>
                                <p>{{invoice.price}}</p>
                            </div>
                        </div>
               

                            <div class="col d-flex align-items-start">
                           
                                <div>
                                    <i class="bi bi-calendar-event"></i>
                                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Inicio </h3>
                                    <p>{{invoice.startDate | date:'dd/MM/yyyy'}}</p>
                                </div>
                            </div>
                            <div class="col d-flex align-items-start">
                            
                                <div>
                                    <i class="bi bi-calendar-event"></i>
                                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Final</h3>
                                    <p>{{invoice.endDate | date:'dd/MM/yyyy'}}</p>
                                </div>
                            </div>

                            <div class="col d-flex align-items-start">
                            
                                <div>
                                    <i class="bi bi-credit-card-2-back"></i>
                                    <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Total €</h3>
                                    <p>{{invoice.totalPrice}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
               
                }
            </div>
        </div>
    </div>
</div>