<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conócenos</title>
    
</head>
<body>
    <div class="container">
        <h1>Conócenos</h1>

        <p>Helio energy es una empresa de reciente creación, instaurada ya en todo el territorio nacional, que proporciona todas facilidades para la instalación de placas
            en tu vivienda y poder disfrutar así de tu suministro eléctrico gracias a la energía solar, con la máxima garantía de ahorro. Tanto ahorro, que podrás donar tu excedente a quien más lo necesita.</p>

        <p>En Helio Energy, nos preocupamos por el medio ambiente y por ello, ofrecemos un servicio de calidad, con el que podrás disfrutar de tu energía eléctrica sin preocuparte de nada más.</p>

        <p>Manifiesto Helio energy Programa Solidaria de colaboración con población y grupos de personas vulnerables.</p>

        <p>Nuestros colaboradores</p>

        <div style="text-align: center;">
            <img src="/assets/img/triodos.png" alt="Triodos Bank">
            <img src="/assets/img/fontlux.png" alt="Fontlux">
            <img src="/assets/img/lighthumanity.png" alt="Light Humanity">
        </div>
    </div>
</body>
</html>
