<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Conoce a Helio Energy</h1>
        <p></p>
        <p></p>
        
        <p class="lead">Helio energy es una empresa de reciente creación, instaurada ya en todo el territorio nacional, que proporciona todas facilidades para la instalación de placas
            en tu vivienda y poder disfrutar así de tu suministro eléctrico gracias a la energía solar, con la máxima garantía de ahorro. Tanto ahorro, que podrás donar tu excedente a quien más lo necesita.
        </p>
        <p class="lead">En Helio Energy nos preocupamos por el medio ambiente y por ello, ofrecemos un servicio de calidad con el que podrás disfrutar de tu energía eléctrica sin preocuparte de nada más.

        </p>
        <p class="lead">Manifiesto Helio energy Programa Solidaria de colaboración con población y grupos de personas vulnerables.</p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
         
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="/assets/img/solar_7-min.png" alt="" width="720">
      </div>
    </div>

    <div class="container mb-3 my-4" style="margin-top:80px !important;">
      <h2 class="display-7 text-alaing mb-5 my-5">Nuestros colaboradores:</h2>

        <div class="card-group vgr-cards">
          <div class="card">
            <div class="card-img-body">
            <img class="card-img" src="/assets/img/fontlux.png" alt="Card image cap">
            </div>
            <div class="card-body">
              <h4 class="card-title">Fontlux</h4>
              <p class="card-text">Confíenos su proyecto o instalación, desde una simple reparación doméstica, hasta la más avanzada de las instalaciones.</p>
              <a  target="_blank" href="https://www.fontlux.com/instaladores-placas-solares-gran-canaria/" class="btn btn-purple">Ver más</a>
            </div>
          </div>
          <div class="card">
            <div class="card-img-body">
              <img class="card-img" src="/assets/img/lighthumanity.png" alt="Card image cap"></div>
            <div class="card-body">
              <h4 class="card-title">Light Humanity</h4>
              <p class="card-text">La energía solar es abundante y es la alternativa más adecuada para dar luz a millones de personas que viven sin electricidad en zonas rurales y remotas.</p>
              <a target="_blank" href="https://lighthumanity.org/" class="btn btn-purple">Ver más</a>
            </div>
          </div>
          <div class="card">
            <div class="card-img-body">
              <img class="card-img" src="/assets/img/TriodosBanklogo-removebg-preview.png" alt="Card image cap"></div>
            <div class="card-body">
              <h4 class="card-title">Triodos Bank</h4>
              <p class="card-text">Hacemos banca ética y sostenible. Empleamos el dinero para lograr un cambio social, ambiental y cultural positivo.</p>
              <a target="_blank" href="https://www.triodos.es/es" class="btn btn-purple">Ver más</a>
            </div>
          </div>
        </div>
      </div>
  </div>