<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="/">
      <img style="max-width:100px;" src="/assets/img/logosinfondo.png" alt="logo">
    </a>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid justify-content-end">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                  aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Planes</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Conócenos</a>
                </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Contacto
                      </a>

                      <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li>
                              <hr class="dropdown-divider">
                          </li>
            
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                      </ul>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Área donación</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <!-- Bootstrap JS (requerido para el funcionamiento del botón de alternancia) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  
   
  <form class="d-flex">
    <button type="button" class="btn btn-purple">Iniciar Sesión</button>
</form>

    </div>
</nav>


<div style="min-height:600px;">
  <router-outlet></router-outlet>
</div>



<footer class="bg-dark text-center text-white">

  <!-- Grid container -->
  <div class="container p-4 pb-0">

    <!-- Section: Social media -->
    <section class="mb-4">

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-linkedin"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>

      <!-- Whatsapp -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-whatsapp"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i>
      </a>

      <!-- Geo -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-geo-alt"></i></a>

      <!-- Infor -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-info"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" routerLink="/">Helio Energy</a>
  </div>
  <!-- Copyright -->
</footer>