
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-1">
	<div class="container-fluid" style="width: 90%;">

		<a class="navbar-brand" routerLink="/">
      		<img style="max-width:100px;" src="/assets/img/logosinfondo.png" alt="logo">
    	</a>
		<button
			class="navbar-toggler"
			type="button"
			aria-controls="navbarContent"
			[attr.aria-expanded]="!collapsed"
			aria-label="Toggle navigation"
			(click)="collapsed = !collapsed"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link" routerLink="/plans">Planes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/users">Usuarios</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/knowing">Conócenos</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" routerLink="/contact">Contacto</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" routerLink="/donation">Área donación</a>
				</li>

				<li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Productos </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a ngbDropdownItem routerLink="/products" (click)="$event.preventDefault()">Producto 1</a>
						<a ngbDropdownItem routerLink="/categories/create" (click)="$event.preventDefault()">Producto 2</a>
					</div>
				</li>

			</ul>

			<button type="button" class="btn btn-purple ms-4 me-4" routerLink="/login">Iniciar sesión</button>

		</div>
	</div>
</nav>

<div style="min-height:600px;">
  <router-outlet></router-outlet>
</div>



<footer class="bg-dark text-center text-white">

  <!-- Grid container -->
  <div class="container p-4 pb-0">

    <!-- Section: Social media -->
    <section class="mb-4">

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-linkedin"></i>
      </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter"></i></a>

      <!-- Whatsapp -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-whatsapp"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram"></i>
      </a>

      <!-- Geo -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-geo-alt"></i></a>

      <!-- Infor -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="bi bi-info"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" routerLink="/">Helio Energy</a>
  </div>
  <!-- Copyright -->
</footer>