@if (images) {
	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="/assets/img/solar_5.png" alt="Random first slide" />
			</div>
			<div class="carousel-caption">
				<h3>Potencia solar, precios imbatibles</h3>
				<p>HELIO ENERGY</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="/assets/img/solar_8.png" alt="Random second slide" />
			</div>
			<div class="carousel-caption">
				<h3>Brillando juntos hacia un futuro sostenible</h3>
				<p>HELIO ENERGY</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img src="/assets/img/solar_6.png" alt="Random third slide" />
			</div>
			<div class="carousel-caption">
				<h3>Iluminando un futuro sostenible</h3>
				<p>HELIO ENERGY</p>
			</div>
		</ng-template>
	</ngb-carousel>


    <div class="col-lg-8 mx-auto p-4 py-md-5">
       
        <main>
          <h1 class="text-body-emphasis">Obtén energía 100% verde</h1>
          <p class="fs-5 col-md-8">Toda nuestra energía proviene de fuentes renovables que cuidan del planeta.</p>
      
          <div class="mb-5">
            <a class="btn btn-purple btn-lg px-4" routerLink="/budget">Pedir presupuesto</a>
          </div>
      
          <hr class="col-3 col-md-2 mb-5">
      
          <div class="row g-5">
            <div class="col-md-6">
              <h2 class="text-body-emphasis">¡Energía solar accesible para todos con precios justos!</h2>
              <p>Precios transparentes y facturas claras, basados en el coste real de la energía.</p>
              <ul class="list-unstyled ps-0">
              </ul>
            </div>
      
            <div class="col-md-6">
              <h2 class="text-body-emphasis">Instala tus placas solares con Helio Energy</h2>
              <p>Acerca tus facturas a 0€ o redúcelas al completo con Helio.</p>
              
            </div>
          </div>
        </main>
        
      </div>
      <h2 class="display-6 text-center mb-4">Preguntas frecuentes</h2>
      
      <div class="accordion-container">
        <div ngbAccordion>
      <div ngbAccordion>
        <div ngbAccordionItem [collapsed]="false">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton style="background-color: white; color: black;" >¿Por qué cambiarme a Helio Energy</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        Nuestra prioridad es generar energía 100% verde 
                        para facilitarte el acceso a un futuro más limpio 
                        y libre de emisiones. Sabemos que esto es posible, 
                        pero solo si más gente como tú se une a este proyecto.

                        Con nosotros no existe la letra pequeña, ni seguros adicionales ni costes asociados. 
                    </ng-template>
                </div>
            </div>
        </div>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton style="background-color: white; color: black;">
                    <span>&#9733; <b>¿Por qué vuestra energía es verde?</b> &#9733;</span>
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        En Helio compramos en el mercado mayorista un kW de energía 100% renovable 
                        por cada kW que consumes en tu vivienda. Esto significa que la cantidad 
                        de energía que consumes como cliente de Helio está circulando 
                        por la red con una procedencia 100% renovable. 
                        Cuanta más gente consuma energía 100% verde, más porcentaje de esta 
                        habrá en la red. Pero no todo queda aquí, Helio Energy es mucho más que una comercializadora, 
                        y está implicada en numerosos proyectos que luchan por un mundo más verde (generación de energía de fuentes 
                        de energía limpia, entre otras iniciativas).
                    </ng-template>
                </div>
            </div>
        </div>


        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton style="background-color: white; color: black;">El precio que he contratado, ¿puede cambiar? </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        Todos nuestros contratos tienen una duración de 12 meses. 
                        Esto no quiere decir que tengas permanencia, sino que 
                        el contrato que has firmado con nosotros tiene una vigencia de un año. 
                        Una vez vencido, lo renovaremos de manera automática, informándote 
                        un mes antes de las condiciones de la renovación. 
                    </ng-template>
                </div>
            </div>
        </div>


        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton style="background-color: white; color: black;">¿Necesito un contador nuevo? </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        Un cambio de proveedor de energía no conlleva
                        un cambio de contador. Únicamente será sustituido 
                        por una avería o un mal funcionamiento del mismo.
                    </ng-template>
                </div>
            </div>
        </div>

        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton style="background-color: white; color: black;">¿Tengo que avisar a mi proveedor de energía del cambio? </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        No es necesario, nosotros nos encargamos de todo 
                        el papeleo. Eso sí, en Energy no tenemos permanencia 
                        en ninguna de nuestras tarifas, pero sabemos que no 
                        siempre es así, te recomendamos que compruebes 
                        con tu compañía actual para evitarte costes.
                    </ng-template>
                </div>
            </div>
        </div>

    </div>

</div>
</div>
    

}