
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Contáctenos</h1>
            <p></p>

            <div class="contenedor">
                <img class="img-fluid" src="/assets/img/icon3.png">
            </div>
            
                <p>Dirección C/ Peloponeso, 13 Madrid</p>
   
            <div class="contact-info">
            
                <p><strong>Teléfono:</strong> <a href="tel:91 234 56 78">+123456789</a></p>
            </div>

            <div class="contact-form">
                <form [formGroup]="contactForm" (ngSubmit)="save()">
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" class="form-control" id="name" formControlName="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo Electrónico:</label>
                        <input type="email" class="form-control" id="email" formControlName="email" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Mensaje:</label>
                        <textarea class="form-control" id="message" formControlName="comment" rows="3" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-purple btn-lg">Enviar</button>
                </form>
            </div>

        </div>
    </div>
</div>