<div class="container">
    <div class="row">
      <div class="col-12">
  
        <h1 class="mt-5">Listado de facturas</h1>
  
        <table class="table table-striped mt-5">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Número de contrato</th>
              <th scope="col">Precio kw</th>
              <th scope="col">Fecha de inicio periodo facturado</th>
              <th scope="col">Fecha de finalización periodo facturado</th>
              <th scope="col">Precio total</th>
              <th scope="col">Activado</th>
            </tr>
          </thead>
          <tbody>
          @for (invoice of invoices; track invoice.id) {
            <tr>
              <td>{{invoice.id}}</td>
              <td>{{invoice.numberCode}}</td>
              <td>{{invoice.price}}</td>
              <td>{{invoice.emitDate | date:'dd/MM/yyyy'}}</td>
              <td>{{invoice.endDate | date:'dd/MM/yyyy'}}</td>
              <td>{{invoice.totalPrice}}</td>
                
              <td>
                @if (invoice.active) {
                  <span class="badge text-bg-success">Sí</span>
                } @else {
                  <span class="badge text-bg-danger">No</span>
                }
              </td>
              
              
              <td>



                <button class="btn btn-info me-2 btn-sm" [routerLink]="['/invoices', invoice.id, 'detail']">
                  Ver 
                </button>
                @if (isAdmin) {
                  <button class="btn btn-danger me-2 btn-sm" (click)="delete(invoice)">
                    Desactivar
                  </button>
                }
                
              </td>
             

            </tr>
          }
      
            
          </tbody>
        </table>
      </div>
    </div>
  </div>


