<div class="container">
    <div class="row">
        <div class="col-lg-8">


            <h1 class="mt-5">Crear nueva factura</h1>


            @if (showConfirmMessage) {
            <ngb-alert type="success" [dismissible]="false" class="text-center" style="min-height:100px">
                Se ha creado la factura correctamente.
                <br>
                ¡Gracias!
            </ngb-alert>
            <button class="w-100 btn btn-purple btn-lg px-4" routerLink="/invoices">Volver</button>

            } @else {
            <form [formGroup]="invoiceForm" (ngSubmit)="save()">

                


                <div class="form-floating mb-3">
                    <input type="number" min="0" step="0.01" class="form-control" id="kw" formControlName="kw"
                        placeholder="">
                    <label for="discount">Kw</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="startDate" formControlName="startDate" placeholder="">
                    <label for="startDate">Fecha de inicio</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="endDate" formControlName="endDate" placeholder="">
                    <label for="endDate">Fecha de fin</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="price" formControlName="price" placeholder="">
                    <label for="price">Precio kw hora</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="totalPrice" formControlName="totalPrice" placeholder="">
                    <label for="totalPrice">Total precio</label>
                </div>

                


                <div class="form-check mb-3">
                    <input class="form-check-input custom-checkbox" type="checkbox" id="active"
                        formControlName="active">
                    <label class="form-check-label" for="active">Esta factura está activa</label>
                </div>

                <button class="w-100 btn btn-purple btn-lg mb-3" type="submit">Guardar</button>

            


            </form>
            }

        </div>