.form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  .custom-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: blanco; /* Color del botón */
    border: 1px solid #6f42c1; /* Color del borde del botón */
    border-radius: 0.20rem; /* Radio de borde */
    width: 1.25rem; /* Ancho */
    height: 1.25rem; /* Altura */
    margin-right: 0.5rem; /* Espacio entre el checkbox y la etiqueta */
    vertical-align: middle; /* Alineación vertical */
  }
  
  .custom-checkbox:checked {
    background-color: #6f42c1; /* Color del botón cuando está marcado */
  }
  
  .custom-checkbox:focus {
    outline: none; /* Elimina el contorno al hacer foco */
    box-shadow: none; /* Elimina la sombra al hacer foco */
  }