<div class="container">
    <div class="row">
      <div class="col-lg-8">

         <!-- Mostrar "creación" o "acualización" si ya existe el producto-->
            
         @if(isUpdate){
            <h1 class="mt-5">Editar contrato</h1> 
        } @else {
            <h1 class="mt-5">Crear nuevo contrato</h1>
        }
  
  
        <form [formGroup]="contractForm" (submit)="save()">
  
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="id" formControlName="id" readonly>
            <label for="id">Id</label>
          </div>
  
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="duration" formControlName="duration"
            placeholder="">
            <label for="duration">Duración del contrato</label>
          </div>
  
          <div class="form-floating mb-3">
            <input type="number" min="0" step="0.01"
            class="form-control" id="discount" formControlName="discount"
            placeholder="">
            <label for="discount">Descuento (%)</label>
          </div>
  
          <div class="form-floating mb-3">
            <input type="date" class="form-control"
            id="startDate" formControlName="startDate"
            placeholder="">
            <label for="startDate">Fecha de inicio</label>
          </div>
  
          <div class="form-floating mb-3">
            <input type="date" class="form-control"
            id="endDate" formControlName="endDate"
            placeholder="">
            <label for="endDate">Fecha de fin</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="bankAccountNumber" formControlName="bankAccountNumber"
            placeholder="">
            <label for="bankAccountNumber">Número de cuenta</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" min="0" step="0.01"
            class="form-control" id="paymentFrequency" formControlName="paymentFrequency"
            placeholder="">
            <label for="paymentFrequency">Cada cuanto tiempo se paga (meses)</label>
          </div>

          
          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="active" formControlName="active">

            <label class="form-check-label" for="active">
                Este contrato está activo
            </label>
        </div>
  
         <button class="w-100 btn btn-purple btn-lg mb-3" type="submit">Guardar</button>
  
  
        </form>

  </div>
  
