<div class="container">
    <div class="row">
      <div class="col-12">
  
        <h1 class="mt-5">Listado de presupuestos</h1>
  

        @if (showDeletedMessage) {
          <ngb-alert type="success" (closed)="closeMessage()">Presupuesto desactivado correctamente.</ngb-alert>
        }
        
       
        <table class="table table-striped mt-5">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Email</th>
              <th scope="col">Activo</th>
              <th scope="col">Acciones</th>
             
            </tr>
          </thead>
          <tbody>
            @for (budget of budget; track budget.id) {
            <tr>
              <td>{{budget.id}}</td>
              <td>{{budget.name}}</td>
              <td>{{budget.surname}}</td>
              <td>{{budget.email}}</td>
             
              <td>
                @if (budget) {
                  <span class="badge text-bg-success">Sí</span>
                } @else {
                  <span class="badge text-bg-danger">No</span>
                }
              </td>

              <td>
             
                <button class="btn btn-purple me-2 btn-sm" [routerLink]="['/contracts', budget.id, 'create']">
                  Crear contrato
                </button>    
                <button class="btn btn-info me-2 btn-sm" [routerLink]="['/contracts', budget.id, 'update']">
                  Editar contrato
                </button>   

              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

