<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Donaciones</h1>
      <p class="col-md-8 fs-4">En Helio Energy, nos preocupa la pobreza energética y ofrecemos la posibilidad de que dones tu excedente de energía a zonas y grupos más vulnerables.</p>
      <p class="col-md-8 fs-4">Programa Solidaria junto a Triodos Bank, Fontlux y Lighthumanity</p>
      <p class="col-md-8 fs-4">Si quieres colaborar con nosotros, puedes hacerlo a través de nuestro contacto:


      <i class="bi bi-envelope"  style="margin-right: 10px;"></i>
      <a href="mailto:info@helioenergy.com">info&commat;helioenergy.com</a>
</p>
      
      <button class="btn btn-purple btn-lg" type="button">Donar</button>
    </div>
  </div>