
<div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center mt-4">
      <h1 class="display-5 fw-normal text-body-emphasis">Nuestros precios</h1>
      <p class="fs-6 text-body-secondary mb-4">¡Brilla con los mejores precios! Descubre nuestras placas solares y ahorra con nosotros.</p>
    </div>
  </header>
  <main>
    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
      <div class="col col-md-6">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Plan vivienda</h4>
          </div>
          <div class="card-body card-with-background-1">
            <h1 class="card-title pricing-card-title" style="color: black;">Desde 30€/ mes</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Instalación</li>
              <li>Mantenimiento</li>
              <li>Placas incluidas</li>
              <li>Descuento</li>
            </ul>
            <button type="button" class="w-50 btn btn-lg btn-purple" routerLink="/budget">Pedir presupuesto</button>
          </div>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Plan empresa</h4>
          </div>
          <div class="card-body card-with-background-2">
            <h1 class="card-title pricing-card-title" style="color: black;">Desde 35€/ mes</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Asociación de empresas</li>
              <li>Descuentos por invitar a amigos</li>
              <li>Cambio de placas solares gratuito</li>
              <li>Revisones anuales</li>
            </ul>
            <button type="button" class="w-50 btn btn-lg btn-purple" routerLink="/budget">Pedir presupuesto</button>
          </div>
        </div>
      </div>
    </div>

    
  
      <h2 class="display-6 text-center mb-4 mt-4">Comparación de planes</h2>
  
      <div class="table-responsive mx-4 mb-5">
        <table class="table text-center">
            <thead>
                <tr>
                    <th style="width: 34%;"></th>
                    <th style="width: 33%;">Vivienda</th>
                    <th style="width: 33%;">Empresa</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="text-start">Instalación placas solares</th>
                    <td><i class="bi bi-check"></i></td>
                    <td><i class="bi bi-check"></i></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Mantenimiento</th>
                    <td><i class="bi bi-check"></i></td>
                    <td><i class="bi bi-check"></i></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Energía variable</th>
                    <td></td>
                    <td><i class="bi bi-check"></i></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Benficios fiscales</th>
                    <td><i class="bi bi-check"></i></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Costo incial</th>
                    <td><i class="bi bi-check"></i></td>
                    <td><i class="bi bi-check"></i></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Seguro</th>
                    <td><i class="bi bi-check"></i></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    </main>

  </div>