@if(product) {
    <div class="mt-5 text-center">
      <!-- Recomendable imágenes cuadradas por ejemplo 500x500 -->
      <img src="ruta_de_la_imagen.jpg" class="d-block mx-auto mb-4 rounded" 
      [src]="'http://localhost:3000/uploads/' + product.photoUrl" alt="product"
      style="width: 200px; height: 200px;">
  
      <h1 class="display-5 fw-bold text-body-emphasis">{{product.title}} 
          <i class="bi bi-sunrise ms-2"></i>  
      </h1>
      <div class="col-lg-6 mx-auto">
        <h4>{{product.price}}  <i class="bi bi-currency-euro"></i> 
        </h4>
        <p class="lead mb-4">{{product.description}}</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          
          @if (isAdmin){
          <button type="button" class="btn btn-purple btn-lg px-4 gap-3"
            [routerLink]="['/products', product.id, 'update']">
            Editar
          </button>
        }
        
        </div>
      </div>
    </div>
  }
  
