/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: 'Conthrax';
    src: url('./assets/fonts/conthrax-sb.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

h1 {
    font-family: 'conthrax', 'arial', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.btn-purple {
  color: #fff;
  background-color: #7e1fcd; /* Púrpura más oscuro */
  border-color: #7e1fcd; /* Púrpura más oscuro */
}

.btn-purple:hover {
  color: #fff;
  background-color: #9b30ff; /* Púrpura más claro al pasar el ratón */
  border-color: #9b30ff; /* Púrpura más claro al pasar el ratón */
}

.btn-purple2 {
  color: #fff;
  background-color: #9b30ff;
  border-color: #9b30ff;
}

