<div class="container">
  <div class="row">
    <div class="col-12">

      <h1 class="mt-5">Listado de usuarios</h1>

      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for(user of users; track user.id) {
          <tr>
            <td>{{user.id}}</td>
            <td>{{user.customer_name}}</td>
            <td>{{user.customer_email}}</td>
            <td>
              
              
                <button class="btn btn-purple" [routerLink]="['/users', 'detail', user.id]">
                  Editar
                </button>

         
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>